asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.8.30
Django==4.2.6
django-bootstrap-v5==1.0.11
django-elasticsearch-dsl==8.0
djangorestframework==3.14.0
elastic-transport==8.15.1
elasticsearch==8.16.0
elasticsearch-dsl==8.16.0
psycopg2==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
six==1.16.0
soupsieve==2.6
sqlparse==0.5.2
typing_extensions==4.12.2
urllib3==2.2.3
